@model CustomerViewModel

@{
    ViewData["Title"] = "Update";
}

<h2>Update Product</h2>

<form action="edit" method="post">
    Id: <input type="text" asp-for="Id" class="form-control" readonly />
    Username: <input asp-for="Username" class="form-control" readonly /> <br />
    Password: <input asp-for="Password" class="form-control" readonly /> <br />

    Full Name: <input type="text" asp-for="Fullname" class="form-control" />
    <span asp-validation-for="Fullname" class="text-danger"></span> <br />

    Gender: 
    @if (Model.Gender == "Male")
    {
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" id="Male" value="Male" checked>
          <label class="form-check-label" for="Male">
            Male
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" id="Female" value="Female">
          <label class="form-check-label" for="Female">
            Female
          </label>
        </div>
    } 
    else
    {
       <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" id="Male" value="Male">
          <label class="form-check-label" for="Male">
             Male
          </label>
       </div>
       <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" id="Female" value="Female" checked>
          <label class="form-check-label" for="Female">
             Female
          </label>
       </div>
    }
    <br />

    Birthday: <input type="date" asp-for="Birthday" class="form-control" />
    <span asp-validation-for="Birthday" class="text-danger"></span> <br />

    Address: <input type="text" asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span> <br />

    <input type="submit" value="Submit" class="btn btn-success" />
    <a href="/customer" class="btn btn-outline-primary">Back</a>
</form>